# Valores de mercado

###

In [7]:
''' 
Primero: Vamos a limpiar el csv 'European Rosters' extraído de Kaggle.
'''
import pandas as pd

df = pd.read_csv('/Users/alexcar934/Desktop/src/data/raw/European_Rosters.csv')

In [2]:
df[df['League'] == 'Ligue 1']['Last Updated Date'].unique()

array(['Last update: Jun 6, 2019', 'Last update: Jun 13, 2019',
       'Last update: Sep 27, 2019', 'Last update: Jun 3, 2019',
       'Last update: Jun 5, 2019', 'Last update: Jun 7, 2019',
       'Last update: Jul 24, 2019', 'Last update: Jun 10, 2019',
       'Last update: Jun 27, 2019', 'Last update: May 23, 2019',
       'Last update: Jul 25, 2019', 'Last update: Jun 28, 2019',
       'Last update: Jun 2, 2019', 'Last update: Jun 11, 2019',
       'Last update: Jun 9, 2019', 'Last update: Jun 4, 2019', nan,
       'Last update: May 21, 2019', 'Last update: May 30, 2018',
       'Last update: May 29, 2019', 'Last update: Aug 27, 2019',
       'Last update: Jun 12, 2019', 'Last update: Jun 26, 2019',
       'Last update: Feb 18, 2019', 'Last update: May 10, 2019',
       'Last update: Aug 20, 2019', 'Last update: Jun 8, 2019'],
      dtype=object)

In [3]:
''' Nos quedamos con:
1. El nombre del jugador.
2. El equipo al que pertenece.
3. La Liga en la que juega.
4. Su valor de mercado.
'''

df = df.loc[:,['PlayerName','Affiliation','League','Market Value (Euros)' ]]

In [4]:
df['League'].unique()

''' Vemos que en nuestro dataframe aparecen dos ligas que no son de nuestro interés
        1. Jupiler Pro League (Liga Belga)
        2. Premier Liga (Liga Rusa)  
        
        '''

' Vemos que en nuestro dataframe aparecen dos ligas que no son de nuestro interés\n        1. Jupiler Pro League (Liga Belga)\n        2. Premier Liga (Liga Rusa)  \n        \n        '

In [5]:
''' 
Por último, vamos a quitar del dataframe las ligas Belga y Rusa.
Para nuestro estudio, utilizaremos jugadores de las ligas:
    1. Alemana (Bundesliga)
    2. Italiana (Serie A)
    3. Holandesa (Eredivisie)
    4. Española (LaLiga)
    5. Inglesa (Premier League)
    6. Portuguesa (Liga NOS)
    7. Francesa (Ligue 1)
'''


# Creamos una lista con las ligas de nuestro interés

ligas = ['Bundesliga', 'Serie A', 'Eredivisie', 'LaLiga',
       'Premier League', 'Liga NOS', 'Ligue 1']

df = df[df['League'].isin(ligas)].dropna()

In [6]:
'''    
Por último, quiero:
    El valor de mercado en números enteros
    Cambiar el nombre de las columnas
'''
valor = []

for i in df['Market Value (Euros)']:
    valor.append(int(i))

df['Valor de Mercado'] = valor

df = df.loc[:,['PlayerName', 'Affiliation', 'League', 'Valor de Mercado']].dropna()
df.columns = ['Nombre del jugador', 'Equipo', 'Liga', 'Valor de Mercado']

df

     Nombre del jugador      Equipo            Liga  Valor de Mercado
0       Anthony Modeste  1. FC Koln      Bundesliga           7000000
1         Benno Schmitz  1. FC Koln      Bundesliga           1000000
2     Birger Verstraete  1. FC Koln      Bundesliga           4000000
3           Brady Scott  1. FC Koln      Bundesliga            100000
4     Christian Clemens  1. FC Koln      Bundesliga           1750000
...                 ...         ...             ...               ...
4251        Ruben Neves      Wolves  Premier League          50000000
4252      Ruben Vinagre      Wolves  Premier League          10000000
4253       Rui Patricio      Wolves  Premier League          20000000
4254       Ryan Bennett      Wolves  Premier League           7000000
4255         Willy Boly      Wolves  Premier League          15000000

[3570 rows x 4 columns]

In [8]:
#exportamos a xlsx, ya que tendremos que realizar algunas modificaciones desde la aplicación.
df.to_excel('/Users/alexcar934/Desktop/src/data/processed/MarketValues.xlsx')

### Desde Excel se llevarán a cabo distintas modificaciones en ciertos datos, por ello este archivo se renombra MarketValues_Clean

# Enumerar las ligas según el valor de mercado 

### Las enumeraremos a modo de ranking 

(1. La más valiosa, 7. La menos valiosa)

In [8]:
df_ligas = pd.DataFrame(df.groupby('Liga')['Valor de Mercado'].sum().sort_values(ascending=False))
df_ligas['Ranking'] = range(1,8)
df_ligas

                Valor de Mercado  Ranking
Liga
Premier League        9323925000        1
LaLiga                6179850000        2
Serie A               5310925000        3
Bundesliga            4712900000        4
Ligue 1               3588700000        5
Liga NOS              1134100000        6
Eredivisie            1016550000        7